$narancasta: orange;
$crvena: red;
$crna: black;
$bijela: white;

.forma{
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: auto;
    width: 400px;
    margin-top: 40px;
    background-color: lightgoldenrodyellow;
    border: {
        style: solid;
        radius: 1.3em;
    }
  }
  
  .obrazac {
    input {
    margin: 8px;
    width: 90%;
    height: 30px;
    border: {
        color: $narancasta;
        radius: 0.6em;
    }
    }
  }

  .obrazac{
    input:focus {
    background-color: $crna;
    color: $bijela;
    }
  }
  
  .obrazac{
    .gumbRegistracije {
    width: 200px;
    height: 30px;
    margin: {
        top: 10px;
        bottom: 5px;
    }
    border-radius: 0.3em;
    background-color: $narancasta;
    color: $bijela;
    }
  }
  
  .obrazac {
    .gumbRegistracije:hover{
    background-color: $crna;
    cursor: pointer;
    border-style: solid;
    }
  }
  
  .obrazac{
    p {
    margin-bottom: 5px;
    }
  }
  
  .obrazac {
    a:hover {
    color: $crvena;
    }
  }
  
  h1{
    color: $narancasta;
  }